@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* setting up styling for the homepage  */
body {
  margin: 30px;
  font-family:  'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: red;
}

code {
  font-family:  'Righteous', cursive;
}
.map {
  margin-left: 20px;
  width: 100vh;
  height: 70vh;
}

