/*font for all pages */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* setting up styling for the homepage  */
body {
  margin: 30px;
  font-family:  'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: red;
}
/* styling for the homepage map */
.map {
  margin-left: 20px;
  width: 100vh;
  height: 70vh;
}
/* styling for the homepage title  */
h1{
    text-align: center;
    color: crimson;
    font-size: 45px;
    text-shadow: 2px 2px burlywood;
}
/* styling for the links/ visited pages on the homepage */
:visited{
    color: crimson;
    text-decoration: none;
}
:link{
    text-decoration: none;
    font-size: 35px;
}
  